h1{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
	h1{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}	
		
}
.rounded {
	border-radius: 60rem
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
body {
	
	background-image: linear-gradient(0deg,rgba(255,255,255,1.00) 0%,rgba(197,193,63,1.00) 100%);
	background-position: center; /
	background-repeat: no-repeat; 
	background-size: cover; 
}

sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fa-instagram {
  background: #125688;
  color: white;
}
tiledBackground.{
	background:"Star Dessinz.png";
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
	background: radial-gradient(yellow);
}